<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    .settings-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
</style>

</head>

<body>
    <ul id="slide-out" class="sidenav sidenav-fixed">
      <li><div class="user-view">
        <div class="background">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTj7OF9EdxNVN6YAkxNcqD00TfMPOD8EpbTZA&usqp=CAU">
        </div>
        <a href="#"><img class="circle" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></a>
        <a href="#"><span class="white-text name" id='name'></span></a>
        <a href="#"><span class="white-text email" id="email"></span></a>
      </div></li>
      <!-- <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li> -->
      
      <li style="margin-top: 50px;"><a href="#" class="active">Dashboard</a></li>
      <li><a href="/profile">My Profile</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/addposts">Add New Posts</a></li>
      <li><a href="/users" id="isAdmin">Manage Users</a></li>
      <li><div class="divider"></div></li>
      <!-- <li><a class="subheader">Subheader</a></li> -->
      <li><a class="waves-effect"  href="/login" onclick="logout()" id="out">Logout</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons" style="color:teal">menu</i></a>
    <main>
        <% var posts; %>
        <% var user; %>
        <% var message; %>
        <% if(user!=null){ %>
          
            <script>
                localStorage.setItem('token', "<%= user.tokens %>");
                localStorage.setItem('email', "<%= user.email %>");
                localStorage.setItem('firstname', "<%= user.firstname %>");
                localStorage.setItem('lastname', "<%= user.lastname %>");
                localStorage.setItem('isAdmin', "<%= user.isAdmin %>");
                localStorage.setItem('dateCreated', "<%= user.date_created %>");
                // localStorage.setItem('posts', "<%= user.posts %>");
            </script>
        <%}%>
        <% if(posts!=null){ %>
        <section class="container section scrollspy" id="photos">
          <% if(message){ %>
            <h5 class="center-align teal-text"><i><%= message %></i></h5>
            <div class="center-align" style="margin-top: 50px;"><a href="/dashboard" class="btn" id="link">View Your Posts</a></div>
          <%}%>
          <% if(!message){ %><h5 class="teal-text center-align" style="margin-bottom: 30px;">Your Posts</h5><%}%>
            <div class="row">
            <% posts.forEach(function(post) { %>
                <div class="col s12 l6">
                <div class="row">
                    <div class="col s12 m12">
                    <div class="card">
                        <div class="card-image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQpOE8ceTPRKD7D2h4ACvr3NkMCcV2ntDaK3g&usqp=CAU">
                        <!-- <span class="card-title"><%= post.subject %></span> -->
                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="/posts/update/<%= post.id %>"><i class="material-icons">edit</i></a>
                        </div>
                        <div class="card-content" >
                        <span class="card-title" style="height: 60px;"><%= post.subject %></span>
                        <p class="truncate"><%= post.body %></p>
                        </div>
                        <div class="card-action">
                        <a href="/posts/<%= post._id %>">View More..</a>
                        <a class="waves-effect waves-light modal-trigger" href="/posts/delete/<%= post.id %>"><i class="material-icons red-text right right-align">delete</i></a>
                        </div>
                    </div>  
                    </div>
                </div>
                
                </div>
                
            <% })%> 
                
            </div>
        </section>

        <%}%>
        <% if(posts.length==0){ %>
            <h5 class="center-align"><i>You have no posts for display. Click on 'Add Posts' to add new posts</i></h5>
        <%}%>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
  <script>  
    document.addEventListener('DOMContentLoaded', function() {
      var options;
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, options);
    });
    $(document).ready(function(){  
        $('.sidenav').sidenav();  
    });
    document.getElementById('name').innerHTML=localStorage.getItem('firstname')+ ' ' + localStorage.getItem('lastname')
    document.getElementById('email').innerHTML=localStorage.getItem('email')
    
    // <- setup token into localStorage, (but i think it's not good place for that, and would be better get token with another authorization request)
     
    function logout(){
      localStorage.clear();
    
    }

   
    const token =localStorage.getItem('token')
    

    // admin ish here
    const isAdmin = document.getElementById('isAdmin')
    let admin = localStorage.getItem('isAdmin')
    console.log(admin)
    if(admin==='false'){
      isAdmin.style.display = 'none';
    }
  </script>
</body>
</html> 