<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hello There</title>

    <style>
      .responsive{
        width: 100%;
        height:auto;
      }
      .banner{
        background: url(https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
        background-size: cover;
        background-position: center;
        /* min-height: 1000px; */
        height:40vh;
        opacity: 0.8;
      }
      blockquote{
        margin: 70px;
        border-left:5px solid white !important;
        color: whitesmoke;
      }
    </style>
  </head>

  <body>

    <nav class="teal">
      <div class="nav-wrapper">
        <div class="container">
          <a href="#" class="brand-logo" style="margin-left:10px">PraizyBlog</a>
          <a href="#" class="sidenav-trigger" data-target="mobile-link">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class='logged'><a href="/dashboard" id="link">Dashboard</a></li>
            <li class="notlogged"><a href="/register">Register</a></li>
            <li class="notlogged"><a href="/login">Login</a></li>
          </ul>
          <ul class="sidenav white" id="mobile-link">
            <li class="logged"><a href="/dashboard" id="link2">Dashboard</a></li>
            <li class="notlogged"><a href="/register">Register</a></li>
            <li class="notlogged"><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="banner">
      <div class="right">
        <span class="valign-wrapper">
          <blockquote>
            You love making expressions through writing?<br> PraizyBlog gives you the targeted audience. So speak!
          </blockquote>
        </span>
        <!-- <div class="center-align">
          <a class="btn waves-effect waves-light" type="submit" href="/posts">View Posts
          </a>
          <button class="btn waves-effect waves-light" type="submit"> Check my works!
          </button>
        </div> -->
        
      </div>
    </div>
    <% var posts; %>
    <% if(posts!=null){ %>
      <section class="container section scrollspy" id="photos">
        <div class="row">
          <% posts.forEach(function(post) { %>
            <div class="col s12 l4">
              <div class="row">
                <div class="col s12 m12">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQpOE8ceTPRKD7D2h4ACvr3NkMCcV2ntDaK3g&usqp=CAU">
                      <!-- <span class="card-title"><%= post.subject %></span>  -->
                      <!-- <a class="btn-floating halfway-fab waves-effect waves-light red" href="/posts/<%= post.id %>"><i class="material-icons">edit</i></a> -->
                    </div>
                    <div class="card-content" >
                      <span class="card-title" style="height: 60px;"><%= post.subject %></span>
                      <p class="truncate"><%= post.body %></p>
                    </div>
                    <div class="card-action">
                      <a href="/posts/viewers/<%= post._id %>">View More..</a>
                      <a class="waves-effect waves-light modal-trigger adminLogged" href="/posts/delete/<%= post.id %>" ><i class="material-icons red-text right right-align">delete</i></a>
                    </div>
                  </div>  
                </div>
              </div>
             
            </div>
            
          <% })%> 
            
        </div>
      </section>

    <%}%>

   
        <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Delete Post</h4>
        <p>You are about to delete a post. Click delete to continue. Or click out of this modal to stop delete</p>
      </div>
      <div class="modal-footer">
        <a href="" class="modal-close waves-effect waves-green btn-flat">Delete</a>
      </div>
    </div>
    

    

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
      });
      document.addEventListener('DOMContentLoaded', function() {
          var options;
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems, options);
      });
      const token =localStorage.getItem('token')
      var link = document.getElementById("link");
      link.setAttribute('href', `/dashboard?token=${token}`);
      var link2 = document.getElementById("link2");
      link2.setAttribute('href', `/dashboard?token=${token}`);
      // Or with jQuery
      // const token = localStorage.getItem('token')
      console.log(token)
      if(!token){
        var logged = document.getElementsByClassName('logged');
        for (var i = 0; i < logged.length; i ++) {
          logged[i].style.display = 'none';
        }
      }
      if(token){
        var logged = document.getElementsByClassName('notlogged');
        for (var i = 0; i < logged.length; i ++) {
          logged[i].style.display = 'none';
        }
      }

    // admin ish here
    let admin = localStorage.getItem('isAdmin')
    // for (var i = 0; i < adminLogged.length; i ++) {
      if(admin==='false' || !admin || admin==='' || admin===null){
        const adminLogged = document.getElementsByClassName('adminLogged')

        for (var i = 0; i < adminLogged.length; i ++) {
          adminLogged[i].style.display = 'none';
        }
      }
    // }
   
      
            
    </script>
  
  </body>
</html>